/* Buttons -> Like and Delete*/
.button {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.likebutton {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

.deletebutton {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 50px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=button] {
  width: 30px;
  height: 30px;
  background-color: ;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minusbutton img {
  margin-bottom: 3px;
}
.plusbutton img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.totalprice {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: ;
  font-weight: 300;
}
